root { 
    display: block;
}

body
{
    background-image: url('Images/Blurry-Blue-Background-IV.jpg');
}

.img_accueil {
    border-radius: 10px;
    margin-bottom: 30px;

}

.msg_bienvenue,footer
{
    text-align: center;
}

.nav_accueil
{
    
    border-width:0;
    border-style:solid;
    border-radius: 10px;

}
li.nav_accueil
{
    background-color: #1ABC9C;
    margin-bottom: 7px;
    color: #FFFFFF;
    text-align: center;
    list-style-type: none;
   
}

.img_frs
{
    width: 100px;
    height: 100px;
}


.breadcrumb, li.nav_accueil,.navbar-default
{
    background-color: #4A7D8E;
}

.col-sm-4
{
    margin-right: 10px;
    text-align: center;
}

a, .msg, footer, a.list-group-item, a.navbar-brand, span.nom_site

{
    color: #FFFFFF;
}

footer.breadcrumb
{
    background-color: #325561;
    margin-bottom: -4px;
}

a.list-group-item
{
    background-color: #325561;
    width: 200px;
}

div.container.breadcrumb, div.breadcrumb
{
    border:1px solid #ddd;
}

div.col-md-3
{
    margin-right: -9px;
}
