/* 
    Document   : style
    Created on : 24 sept. 2013, 08:52:58
    Author     : rcoml
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.img_accueil {
    border-radius: 10px;

}

footer
{
    text-align: center;
}

.msg_bienvenue
{
    text-align: center;
}

.nav_accueil
{
    
    border-width:0;
    border-style:solid;
    border-radius: 4px;
}
li.nav_accueil
{
    background-color: #1ABC9C;
    margin-bottom: 7px;
    color: #FFFFFF;
   
}
a
{
    color: rgb(1,55,252);
}


